                            /*---------------------- FOOTER -----------------------*/

.footer {
    background-color:rgb(240, 225, 186);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
 
    margin-bottom: 2rem;
    margin-top: 1rem;
}
.footer-text {
    font-size: 1rem;
    opacity: 0.5;
   
    

}
.footer-link {
    text-decoration: none;
    font-size: 1rem;
    border: 2px solid gray;
    color: white;
    background-color:rgb(26, 26, 63);
    padding-block: 0.7rem;
    padding-inline: 0.7rem;
    border-radius: 15px;;
    
}